name: Deploy to Production

on:
  release:
    types: [published]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: adalmia/sensai-ai:latest
          build-args: |
            S3_BUCKET_NAME=${{ secrets.S3_BUCKET_NAME }}
            S3_FOLDER_NAME=${{ secrets.S3_FOLDER_NAME }}
            ENV=${{ secrets.ENV }}
            BUGSNAG_API_KEY=${{ secrets.BUGSNAG_API_KEY_PROD }}
            OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY_PROD }}
            GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID_PROD }}
            SLACK_USER_SIGNUP_WEBHOOK_URL=${{ secrets.SLACK_USER_SIGNUP_WEBHOOK_URL }}
            SLACK_COURSE_CREATED_WEBHOOK_URL=${{ secrets.SLACK_COURSE_CREATED_WEBHOOK_URL }}
            SLACK_USAGE_STATS_WEBHOOK_URL=${{ secrets.SLACK_USAGE_STATS_WEBHOOK_URL }}
            PHOENIX_ENDPOINT=${{ secrets.PHOENIX_ENDPOINT }}
            PHOENIX_API_KEY=${{ secrets.PHOENIX_API_KEY_PROD }}
